<%= render "shared/flash_messages" %>
<%= form_for @user, remote: true do |f| %>
  <p><span>Name</span><%= f.text_field :name %></p>
  <p><span>Email</span><%= f.text_field :email %></p>
  <p><span>Password</span><%= f.password_field :password %></p>
  <p><span>Re-</br>password</span><%= f.password_field :password_confirmation %></p>
  <p class="submit"><%= f.submit "Đăng ký" %></p>
<% end %>
<div class="close-form"></div>
