<% Canlidate.all.each do |canlidate| %>
    <div class="popup-form detail-team" id="team<%= canlidate.id %>">
      <div class="d-team-adward">
        <div class="d-team-img" style="background: url('<%= canlidate.banner_url %>')"></div>
        <div class="d-team-content">
          <p class="d-team-name"><%= canlidate.name %></p>
          <p class="d-team-subTitle"><span><%= canlidate.start %></span></p>
          <div class="team-text"><%= canlidate.description.try(:html_safe) %></div>
<% if current_user %>
  <% if current_user.canlidate_voted?(canlidate) %>
              <div class="vote active">voted</div>
  <% else %>
              <div class="vote"><%= link_to 'Vote now', votes_path(canlidate_id: canlidate.id), method: :post, style: "color: white;" %></div>
  <% end %>
<% end %>
        </div>
        <div class="clr"></div>
      </div>
      <div class="close-form"></div>
    </div>
<% end %>
